<ul id="lists">
  <% @lists.each_with_index do |list, idx| %>
    <li class="<%= 'complete' if all_completed? list %>">
      <b>
        <a href="/lists/<%= idx %>">
          <h2><%= list[:name] %></h2>
          <p><%= todos_completed_ratio list %></p>
        </a>
      </b>
    </li>
  <% end %>
</ul>

<% content_for :header do %>
  <div class="actions"><a class="add" href="/lists/new">New List</a></div>
<% end %>
