<% if session[:message] %>
  <%= session.delete(:message) %>
<% end %>
<% @files_array.each do |file| %>
  <li>
    <a href="/<%= file %>"><%= file %></a> 
    <a href="/<%= file %>/edit">Edit</a>
  </li>
<% end %>
