<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CMS</title>
    <link rel="stylesheet" href="/stylesheets/cms.css">
  </head>
  <body>
    <%= yield %>

    <% if session[:signin] %>
      <form action="/signout" method="post">
        <em>Signed in as <%= session[:user] %></em>
        <button type="submit">Sign Out</button>
      </form>
    <% else %>
      <form action="/users/signin" method="get">
        <em>You are signed out</em>
        <button type="submit">Sign In</button>
      </form>
    <% end %>
  </body>
</html>
