<% if session[:message] %>
  <p class="message"><%= session.delete(:message) %></p>
<% end %>

<form action="/signin" method="post">
  <label>Username: </label>
  <textarea name="user" rows="1" cols="13"></textarea>
  <br/>
  <label>Password: </label>
  <textarea name="password" rows="1" cols="13"></textarea>
  <br/>
  <button type="submit">Sign In</button>
</form>
