<h2>Search</h2>

<form action="/search" method="get">
  <input name="query"/>
  <button type="submit"><a>Search</a></button>
</form>

<% if @searched_word %>
  <h3>Results for: '<%= @searched_word %>'</h3>

  <ul>
    <% @results.each do |result| %>
      <li><strong><%= result %></strong></li>
    <% end %>
  </ul>
<% end %>
